
body{
       background-color: #171716;
    color: #ffffff;
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    height: 100%;
    overflow: hidden;
}
@media screen and (min-width: 768px) {
  body {
    background-color: #171716;
    color: #ffffff;
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  body {
       background-color: #171716;
    color: #ffffff;
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    height: 100%
  }
}
p{
    font-size: 16px;
    margin: 0px;
}
h1{
    font-size: 28px;
    margin: 0;
    font-weight: 400;
}
@media screen and (min-width: 500px) {
h1{
    font-size: 44px;
    margin: 0;
    font-weight: 400;
}
}
@media screen and (min-width: 768px) {
h1{
    font-size: 54px;
    margin: 0;
    font-weight: 400;
}
}
main{
    height: 100vh;
    padding: 20px; /* 20px top and 20px bottom padding */
    box-sizing: border-box; /* Padding included within the 100vh height */
}
@media screen and (min-width: 768px) {
main{
    height: 100vh;
    padding: 40px; /* 20px top and 20px bottom padding */
    box-sizing: border-box; /* Padding included within the 100vh height */
}
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topSection{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    animation-name: topSectionAnimation;
    animation-duration: 1s;
    
}
@keyframes topSectionAnimation {
  0%   {margin-top: -100px;}
  100% {margin-top: 0px;}
}

.downloadcv{
  color: #5A5757;
  text-decoration: none;
}
.downloadcv:hover{
  color: #ffffff;
 transition: color 0.3s ease-in-out;
}

.navbarlink {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  color: #ffffff;
  text-decoration: none;
}

.navbarlink::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transition: transform 0.5s ease-out;
}

.navbarlink:hover::after {
  transform: scaleX(1);
}

.navbarlink.left::after {
  transform-origin: bottom right;
}

.navbarlink.left:hover::after {
  transform-origin: bottom left;
}
.centerSection{
    width: 100%;
}
@media screen and (min-width: 768px) {
.centerSection{
    max-width: 1280px;
    margin: 0 auto;
}
}


.firstMainText{
  animation-name: firstMainTextAnimation;
  animation-duration: 2.5s;
  opacity: 1;
  
}
@keyframes firstMainTextAnimation {
  0%   {opacity: 0;
 }
  100% {opacity: 1;}
}

.secondMainText{
  animation-name: secondMainTextAnimation;
  animation-duration: 2.5s;
  opacity: 1;
  
}
@keyframes secondMainTextAnimation {
  0%   {opacity: 0;
 }
  100% {opacity: 1;}
}

.thirdMainText{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation-name: thirdMainTextAnimation;
  animation-duration: 2.5s;
  opacity: 1;
  
}
@keyframes thirdMainTextAnimation {
  0%   {opacity: 0;
 }
  100% {opacity: 1;}
}
.bottomSection{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 0px;
  animation-name: bottomSectionAnimation;
  animation-duration: 1s;
    
}
@keyframes bottomSectionAnimation {
  0%   {margin-bottom: -100px;}
  100% {margin-bottom: 0px;}
}



  .hello-wrap {
    position: relative;
    display: inline-block;
  }

  .round-btn {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5A5757;
    border: 1px solid #5A5757;
    cursor: pointer;
    z-index: 1;

    /* обнулення дефолтних стилів кнопки */
    padding: 0;
    line-height: 0;
    appearance: none;
    -webkit-appearance: none;
  }

  /* псевдоелемент для зовнішнього кільця */
.round-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;   /* стартовий розмір */
  height: 10px;
  border-radius: 50%;
  
  box-shadow: 0 0 0 1px #5A5757; /* тонке кільце */
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
  z-index: -1;
  opacity: 0;
}

.round-btn:hover::after {
  width: 30px;   /* збільшуємо розмір */
  height: 30px;
  opacity: 1;

}

  .hello-tip {
  position: absolute;
  right: -15px;             /* прив'язка до правого краю кнопки */
  bottom: 100%;         /* над кнопкою */
  transform: translateY(6px); /* тільки по вертикалі */
  padding: 10px 14px;
  border-radius: 8px;
  

  color: #5A5757;
  font: 500 14px/1 system-ui, sans-serif;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity .18s ease, transform .18s ease;
}

.hello-wrap:hover .hello-tip {
  opacity: 1;
  transform: translateY(-20px); /* плавне підняття */
}